[submodule "external/psyz"]
	path = external/psyz
	url = https://github.com/khasinski/rage-racer-psyz.git
	branch = rage-racer-port-0.4
[submodule "external/libchdr"]
	path = external/libchdr
	url = https://github.com/rtissera/libchdr.git
