# Rage Racer keyboard mapping (SDL key names)
UP = Up
RIGHT = Right
DOWN = Down
LEFT = Left
CROSS = X
CIRCLE = D
SQUARE = Z
TRIANGLE = S
L1 = Q
R1 = R
L2 = W
R2 = E
SELECT = Backspace
START = Return
L3 = 1
R3 = 2
